.cardStyle{
  width:15rem;
  height: 15rem;
  background-color: lightgray;
  border-radius: 2rem;
  padding:1rem; 
}
.card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.headerStyle{
  height: 20%;
  padding: 2%;
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}
